<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeConvertImages</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link rel="stylesheet" href="../Static/fonts.css">
    

    <meta name="description" content="Convierte imágenes gratis y rápido entre cualquier formato como 
    JPG, PNG, WEBP, GIF, BMP y más, sin perder calidad. Sube todas las que necesites y selecciona solo
    las que quieres convertir, sin restricciones ni costo adicional.">

    <meta name="keywords" content="conversor de imágenes, convertir imágenes gratis, convertir JPG a PNG,
    convertir PNG a JPG, convertir imágenes online, convertir imágenes sin perder calidad, convertir 
    imágenes rápido, convertir WEBP a JPG, convertir GIF a PNG, convertidor de fotos gratis, cambiar 
    formato de imágenes, convertir imágenes en línea, conversor de formatos de imagen, imágenes sin perder resolución,
    convertir imágenes sin costo, convertir imágenes múltiples, convertir fotos gratis, convertir imágenes sin registro,
    convertir imágenes por lotes">

    <meta http-equiv="Content-Language" content="es">
    <meta name="autor" content="Keyner Alfonso Reyes Tejedor">

</head>
<body>
    <div class="hero">
        <header class="hero__header">
            <span class="header__logo">FreeConvertImages</span>
            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="" class="item__link">Convertir</a></li>
                    <li class="list__item"><a href="" class="item__link">Formatos</a></li>
                    <li class="list__item"><a href="" class="item__link">Servicios</a></li>
                    <li class="list__item"><a href="" class="item__link">FAQ</a></li>
                </ul>
            </nav>
            <li class="header__item"><a href="" class="item__link">Empecemos Ahora</a></li>
        </header>

        <div class="hero__content">
            <div class="content__information">
                <h1 class="information__title">
                    Convierte tus imagenes de un formato a otro sin costo,
                    mas rapidos,sin perder la calidad y las que tu desees
                </h1>

                <div class="information__image image--right">
                    <img src="../Static/assets/img/retratoHombre.png" alt="">
                </div>
                <h2 class="information__subtitulo">
                    Selecciona varias imágenes, elige el formato 
                    que prefieras y descarga todo en segundos.
                </h2>

                <div class="information__image image--left">
                    <img src="../Static/assets/img/mujerSonriendo.png" alt="">
                </div>

                <a href="" class="information__button">Mas Informacion</a>
                <a href="" class="information__button">Empecemos Ahora</a>

            </div>
        </div>
    </div>
</body>
</html>