<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeConvertImages</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../Static/fonts.css">


    <meta name="description" content="Convierte imágenes gratis y rápido entre cualquier formato como 
    JPG, PNG, WEBP, GIF, BMP y más, sin perder calidad. Sube todas las que necesites y selecciona solo
    las que quieres convertir, sin restricciones ni costo adicional.">

    <meta name="keywords" content="conversor de imágenes, convertir imágenes gratis, convertir JPG a PNG,
    convertir PNG a JPG, convertir imágenes online, convertir imágenes sin perder calidad, convertir 
    imágenes rápido, convertir WEBP a JPG, convertir GIF a PNG, convertidor de fotos gratis, cambiar 
    formato de imágenes, convertir imágenes en línea, conversor de formatos de imagen, imágenes sin perder resolución,
    convertir imágenes sin costo, convertir imágenes múltiples, convertir fotos gratis, convertir imágenes sin registro,
    convertir imágenes por lotes">

    <meta http-equiv="Content-Language" content="es">
    <meta name="autor" content="Keyner Alfonso Reyes Tejedor">
    <meta name="robots" content="index,follow">

</head>

<body>
    <div class="hero">
        <header class="hero__header">
            <h2 class="header__logo"><Span class="logo__blue">Free</Span>ConvertImages</h2>
            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="#Inicio" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="#Servicios" class="item__link">Servicios</a></li>
                    <li class="list__item"><a href="#Conversiones" class="item__link">Conversiones</a></li>
                    <li class="list__item"><a href="#FAQ" class="item__link">FAQ</a></li>
                </ul>
            </nav>
            <li class="header__item"><a href="" class="item__empezar">Empecemos Ahora</a></li>
        </header>

        <section class="hero__content" id="Inicio">

            <figure class="content__img img--rigth">
                <img src="../Static/assets/img/rostroMujer.png" alt="Mujer joven sonriendo mirando hacia la derecha">
            </figure>

            <div class="content__information">
                <h1 class="information__title">
                    Convierte gratis tus imagenes rapido, sin limites y con la mejor calidad
                </h1>

                <h2 class="information__subtitulo">
                    Sube todas las imágenes que necesites convertir, elige entre los formatos disponibles como JPG, PNG,
                    WEBP o GIF, y descarga tus archivos convertidos de forma rápida, sencilla y en cuestión de segundos,
                    sin perder calidad
                </h2>

                <div class="information__button">
                    <a href="" class="button__item item--white">Mas Informacion</a>
                    <a href="" class="button__item">Empecemos Ahora</a>
                </div>

            </div>

            <figure class="content__img img--left">
                <img src="../Static/assets/img/faceHombre.png" alt="Hombre joven Sonriendo mirando hacia la izquierda">
            </figure>

            <div class="logos" id="logos">
                <figure class="logos__slide" id="slider">
                    <img src="../Static/assets/img/logo-dark-gif.png" alt="logo del formato de imagen giff">
                    <img src="../Static/assets/img/logo-dark-jpg.png" alt="logo del formato de imagen jpg">
                    <img src="../Static/assets/img/logo-dark-png.png" alt="logo del formato de imagen png">
                    <img src="../Static/assets/img/logo-dark-Svg.png" alt="logo del formato de imagen svg">
                    <img src="../Static/assets/img/logo-dark-tiff.png" alt="logo del formato de imagen tiff">
                    <img src="../Static/assets/img/logo-dark-transparent.png" alt="logo del formato de imagen jpeg">
                    <img src="../Static/assets/img/logo-dark-avif.png" alt="logo del formato de imagen avif">
                    <img src="../Static/assets/img/logo-dark-webp.png" alt="logo del formato de imagen webp">
                </figure>
            </div>
        </section>
    </div>

    <section class="servicios" id="Servicios">
        <div class="servicios__content">
            <div class="content__informacion">
                <h2 class="informacion__title">Servicios</h2>
                <p class="informacion__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptates omnis distinctio dolor cum
                    facilis, sint hic unde cumque itaque possimus tempore minima quaerat consectetur, repellat deleniti
                    iste cupiditate eos.
                </p>
            </div>

            <div class="content__card">
                <div class="card__item">
                    <span class="item__logo"><i class="fa-solid fa-arrows-rotate"></i></span>
                    <h2 class="item__titulo">Conversión Rápida</h2>
                    <p class="item__texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae repellendus earum dolor
                        corrupti sequi impedit illum libero veritatis nemo nisi, alias eius debitis, maiores doloribus
                        quae aut. Esse, ut rerum.
                    </p>
                </div>

                <div class="card__item">
                    <span class="item__logo"><i class="fa-solid fa-photo-film"></i></span>
                    <h2 class="item__titulo">Quitar Fondos</h2>
                    <p class="item__texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tenetur nulla perspiciatis cum
                        officiis laudantium, quae voluptatum corporis illo ea nisi excepturi explicabo inventore modi,
                        incidunt sed mollitia sapiente dicta.
                    </p>
                </div>

                <div class="card__item">
                    <span class="item__logo"><i class="fa-solid fa-images"></i></span>
                    <h2 class="item__titulo">Admite Cualquier Formato</h2>
                    <p class="item__texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis facere maiores dolores atque
                        non consectetur, quos, blanditiis neque sunt nam sequi recusandae quis totam nulla temporibus
                        modi aperiam praesentium. Vel.
                    </p>
                </div>

                <div class="card__item">
                    <span class="item__logo"><i class="fa-solid fa-infinity"></i></span>
                    <h2 class="item__titulo">Conversion Ilimitada</h2>
                    <p class="item__texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab nulla hic incidunt quia! At
                        consequuntur maiores quae asperiores modi nesciunt culpa aspernatur delectus, nam, maxime neque
                        quidem aliquam alias soluta.
                    </p>
                </div>

                <div class="card__item">
                    <span class="item__logo"><i class="fa-solid fa-panorama"></i></span>
                    <h2 class="item__titulo">Optimizacion De Imagen</h2>
                    <p class="item__texto">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor eum consectetur harum,
                        architecto obcaecati inventore quibusdam in exercitationem corrupti ratione cumque ducimus
                        magnam voluptatum dolore iure quaerat aperiam corporis animi?
                    </p>
                </div>

                <div class="card__item">
                    <span class="item__logo"><i class="fas fa-folder"></i></span>
                    <h2 class="item__titulo">Comprimir Imágenes Por Lote</h2>
                    <p class="item__texto">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores eaque amet officiis,
                        laboriosam adipisci? Dolorum doloribus, vel optio id maxime assumenda, corporis pariatur ab sit
                        facilis, exercitationem ipsa odit!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="conversiones" id="Conversiones">
        <div class="formato__content">
            <div class="content__infomacion">
                <h2 class="informacion__title">Conversiones Populares</h2>

                <p class="informacion__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ex voluptate, quaerat veniam sequi unde
                    et! Eius, doloremque quos nam fugit provident inventore quia ullam quaerat corrupti voluptas quod
                    reprehenderit?
                </p>
            </div>

            <div class="content__populares">
                <div class="populares__item"><span class="item__formatos">JPG a PNG</span></div>
                <div class="populares__item"><span class="item__formatos">JPG a WEBP</span></div>
                <div class="populares__item"><span class="item__formatos">JPG a AVIF</span></div>
                <div class="populares__item"><span class="item__formatos">JPG a GIF</span></div>
                <div class="populares__item"><span class="item__formatos">JPG a PDF</span></div>

                <div class="populares__item"><span class="item__formatos">PNG a JPG</span></div>
                <div class="populares__item"><span class="item__formatos">PNG a WEBP</span></div>
                <div class="populares__item"><span class="item__formatos">PNG a AVIF</span></div>
                <div class="populares__item"><span class="item__formatos">PNG a GIF</span></div>
                <div class="populares__item"><span class="item__formatos">PNG a PDF</span></div>

                <div class="populares__item"><span class="item__formatos">WEBP a JPG</span></div>
                <div class="populares__item"><span class="item__formatos">WEBP a PNG</span></div>
                <div class="populares__item"><span class="item__formatos">WEBP a AVIF</span></div>

                <div class="populares__item"><span class="item__formatos">GIF a MP4</span></div>
                <div class="populares__item"><span class="item__formatos">GIF a WEBP</span></div>
                <div class="populares__item"><span class="item__formatos">GIF a PNG</span></div>

                <div class="populares__item"><span class="item__formatos">AVIF a JPG</span></div>
                <div class="populares__item"><span class="item__formatos">AVIF a PNG</span></div>
                <div class="populares__item"><span class="item__formatos">AVIF a WEBP</span></div>
                <div class="populares__item"><span class="item__formatos">AVIF a TIFF</span></div>
            </div>
        </div>
    </section>

    <section class="FAQ" id="FAQ">
        <div class="formato__content">
            <div class="content__infomacion">
                <h2 class="informacion__title">Preguntas Frecuentes</h2>

                <p class="informacion__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ex voluptate, quaerat veniam sequi unde
                    et! Eius, doloremque quos nam fugit provident inventore quia ullam quaerat corrupti voluptas quod
                    reprehenderit?
                </p>
            </div>

            <div class="pqf__questions">
                <div class="accordion">
                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Qué formatos de imagen puedo convertir en esta herramienta?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            Nuestra herramienta permite convertir imágenes en los formatos más populares como JPG, PNG, WEBP, GIF, BMP, TIFF, HEIC y AVIF. Esto facilita adaptar tus archivos a las necesidades específicas de cada plataforma o dispositivo.
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Las imágenes convertidas pierden calidad?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            Ofrecemos opciones para mantener la mayor calidad posible durante la conversión. Sin embargo, en algunos casos, la compresión inherente a ciertos formatos puede generar una ligera pérdida de calidad, especialmente en formatos optimizados para la web como WebP o AVIF.
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Es seguro subir mis imágenes a la plataforma?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            Sí, priorizamos la seguridad y privacidad de tus archivos. Todas las imágenes que subes se eliminan automáticamente de nuestros servidores poco tiempo después de la conversión, garantizando que tus archivos no sean almacenados ni compartidos.
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Necesito crear una cuenta para convertir imágenes?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            No, puedes convertir imágenes sin necesidad de registrarte o iniciar sesión. Nuestra plataforma es completamente gratuita y abierta al público para facilitar el acceso rápido y sencillo.
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Puedo convertir varias imágenes al mismo tiempo?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            Sí, nuestra herramienta permite la conversión en lote. Puedes seleccionar múltiples imágenes y convertirlas de una sola vez al formato deseado, ahorrando tiempo y esfuerzo en procesos repetitivos.
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__button">
                            ¿Qué tamaño máximo de archivo se puede convertir?
                            <i class="fa-solid fa-plus accordion__icon"></i>
                        </button>
                        <div class="accordion__content">
                            Actualmente, el límite por archivo es de 25MB. Este tamaño permite manejar imágenes de alta resolución sin problemas. Para archivos más grandes, recomendamos comprimir la imagen antes de la conversión.
                        </div>
                    </div>


                </div>

            </div>
    </section>

    <footer class="footer">

    </footer>

    <script src="../Static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
</body>

</html>