<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeConvertImages</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Static/fonts.css">


    <meta name="description" content="Convierte imágenes gratis y rápido entre cualquier formato como 
    JPG, PNG, WEBP, GIF, BMP y más, sin perder calidad. Sube todas las que necesites y selecciona solo
    las que quieres convertir, sin restricciones ni costo adicional.">

    <meta name="keywords" content="conversor de imágenes, convertir imágenes gratis, convertir JPG a PNG,
    convertir PNG a JPG, convertir imágenes online, convertir imágenes sin perder calidad, convertir 
    imágenes rápido, convertir WEBP a JPG, convertir GIF a PNG, convertidor de fotos gratis, cambiar 
    formato de imágenes, convertir imágenes en línea, conversor de formatos de imagen, imágenes sin perder resolución,
    convertir imágenes sin costo, convertir imágenes múltiples, convertir fotos gratis, convertir imágenes sin registro,
    convertir imágenes por lotes">

    <meta http-equiv="Content-Language" content="es">
    <meta name="autor" content="Keyner Alfonso Reyes Tejedor">

</head>

<body>
    <div class="hero">
        <header class="hero__header">
            <h2 class="header__logo"><Span class="logo__blue">Free</Span>ConvertImages</h2>
            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="#Inicio" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="" class="item__link">Convertir</a></li>
                    <li class="list__item"><a href="" class="item__link">Formatos</a></li>
                    <li class="list__item"><a href="" class="item__link">Servicios</a></li>
                    <li class="list__item"><a href="" class="item__link">FAQ</a></li>
                </ul>
            </nav>
            <li class="header__item"><a href="" class="item__empezar">Empecemos Ahora</a></li>
        </header>

        <section class="hero__content" id="Inicio">

            <div class="content__img img--rigth">
                <img src="../Static/assets/img/rostroMujer.png" alt="Mujer Sonriendo">
            </div>

            <div class="content__information">
                <h1 class="information__title">
                    Convierte gratis tus imagenes rapido, sin limites y con la mejor calidad
                </h1>

                <h2 class="information__subtitulo">
                    Sube todas las imágenes que necesites convertir, elige entre los formatos disponibles como JPG, PNG,
                    WEBP o GIF, y descarga tus archivos convertidos de forma rápida, sencilla y en cuestión de segundos,
                    sin perder calidad
                </h2>

                <div class="information__button">
                    <a href="" class="button__item item--white">Mas Informacion</a>
                    <a href="" class="button__item">Empecemos Ahora</a>
                </div>

            </div>

            <div class="content__img img--left">
                <img src="../Static/assets/img/faceHombre.png" alt="Hombre Sonriendo">
            </div>
        </section>
    </div>

    
</body>

</html>