@font-face {
    font-family: "Nura";
    src: url(../Static/assets/fonts/Nura-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Nura";
    src: url(../Static/assets/fonts/Nura-Medium.ttf) format('truetype');
    font-weight: 700;
}