:root {
    --colorPrimario: #48f;
    --colorSecundario: #000000;
    --colorTercario: #6366f1;
    --colorCuartario: #ffffff;
}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        radial-gradient(circle 500px at 20% 80%, rgba(139, 92, 246, 0.5), transparent),
        radial-gradient(circle 500px at 80% 20%, rgba(59, 130, 246, 0.5), transparent);
    background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;
}


.content__img {
    position: relative;

}

.content__img img {
    max-width: 100%;
}


.img--rigth img {
    border: 4px solid var(--colorCuartario);
    position: absolute;
    top: -20px;
    left: 89%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(139, 92, 246, 0.9) 20%, rgba(139, 92, 246, 0) 80%);
    width: 150px;
    height: 150px;

}


.img--left img {
    position: absolute;
    top: -200px;
    left: 3em;
    border: 4px solid var(--colorCuartario);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(59, 130, 246, 0.9), rgba(59, 130, 246, 0));

}

.header__logo {
    padding-left: 20px;
    font: 900 25px "Urbanist";
    color: var(--colorSecundario);
}

.header__logo .logo__blue {
    color: var(--colorTercario);
}

.hero__header {
    z-index: 1;
    position: fixed;
    top: 20px;
    left: 80px;
    width: 90%;
    height: 80px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__list {
    display: flex;
    gap: 20px;
    list-style: none;
}


.item__link {
    font: 700 20px "Urbanist";
    text-decoration: none;
    cursor: pointer;
    color: var(--colorSecundario);
    transition: color .7s ease;
}

.item__link:hover {
    color: var(--colorTercario);
}


.hero__header .header__item {
    list-style: none;
}

.header__item .item__empezar {
    text-decoration: none;
    font: 700 20px "Urbanist";
    background-color: var(--colorTercario);
    color: var(--colorCuartario);
    padding: 20px 20px;
    border-radius: 50px;
    cursor: pointer;
}


.hero__content {
    padding: 140px 0 0 0;
}

.hero__content .content__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__information .information__title {
    font: 900 100px/1.1 "Bricolage Grotesque";
    margin-bottom: 20px;
    width: 1300px;
    color: var(--colorSecundario);
    text-align: center;
}

.content__information .information__subtitulo {
    font: 500 20px "Bricolage Grotesque";
    width: 800px;
    text-align: center;
    color: var(--colorSecundario);
}

.hero__content .information__button {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.information__button .button__item {
    text-decoration: none;
    background-color: var(--colorTercario);
    color: var(--colorCuartario);
    box-shadow: 0 5px 10px 0 var(--colorTercario);
    padding: 20px 25px;
    border-radius: 50px;
    font: 700 20px "Urbanist";
}

.information__button .item--white {
    background-color: var(--colorCuartario);
    color: var(--colorSecundario);
    box-shadow: 0 5px 10px 0 #aaa;
}

.logos {
    width: 80%;
    display: flex;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: calc(10vh - 10px);
}

.logos__slide {
    animation: 10s slide infinite linear;

    img {
        height: 50px;
        margin: 0 70px;
    }
}

.logos::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}

.logos::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Section servicios */
.servicios {
    min-height: 100vh;
    width: 100%;
    background: white;
    position: relative;
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        radial-gradient(circle 500px at 20% 20%, rgba(139, 92, 246, 0.5), transparent),
        radial-gradient(circle 500px at 80% 80%, rgba(59, 130, 246, 0.5), transparent);
    background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;
}

.servicios__content {
    padding-top: 120px;
}

.content__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__informacion .informacion__title {
    font: 900 80px "Bricolage Grotesque";
}


.content__informacion .informacion__text {
    font: 500 20px "Urbanist";
    max-width: 1000px;
    text-align: center;
    margin: 0 0 10px 0;
}

.content__card {
    margin: auto;
    max-width: 1500px;
    padding: 20px 0 0 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card__item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    /* Blanco casi opaco */
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: border .7s ease, .7s ease, box-shadow .7s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex: 0 1 450px;
    min-width: 350px;
    min-height: 230px;
}

.card__item:hover {
    border: 2px solid var(--colorTercario);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card__item .item__logo i {
    font-size: 40px;
    color: var(--colorTercario);
    margin-bottom: 10px;
}

.card__item .item__titulo {
    color: #1F2937;
    font: 600 25px "Bricolage Grotesque";
    margin-bottom: 10px;
}

.card__item .item__texto {
    text-align: center;
    color: #374151;
    font: 500 17px "Urbanist";
}

.conversiones {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        radial-gradient(circle 500px at 20% 80%, rgba(139, 92, 246, 0.5), transparent),
        radial-gradient(circle 500px at 80% 20%, rgba(59, 130, 246, 0.5), transparent);
    background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;
}

.content__populares {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.content__populares .populares__item {
    flex: 0 1 250px;
    display: flex;
    cursor: pointer;
    padding: 0 0 0 20px;
    justify-content: start;
    align-items: center;
    min-height: 50px;
    transition: border .7s ease, .7s ease, box-shadow .7s ease;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: border .7s ease, .7s ease, box-shadow .7s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content__populares .populares__item:hover {
    border: 2px solid var(--colorTercario);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.populares__item .item__formatos {
    font: 500 20px "Urbanist";
    color: #374151;
}

/* Section Formato */
.FAQ {
    min-height: 100vh;
    width: 100%;
    background: white;
    position: relative;
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
        radial-gradient(circle 500px at 20% 20%, rgba(139, 92, 246, 0.5), transparent),
        radial-gradient(circle 500px at 80% 80%, rgba(59, 130, 246, 0.5), transparent);
    background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;

}

.formato__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 120px;
}

.content__infomacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__infomacion .informacion__title {
    font: 900 80px "Bricolage Grotesque";
}

.content__infomacion .informacion__text {
    font: 500 20px "Urbanist";
    max-width: 1000px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.accordion {
    max-width: 1300px;
}



.accordion__button {
    font: 600 20px "Bricolage Grotesque";
    width: 100%;
    text-align: left;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-bottom: 1px solid #e5e7eb;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__button:hover {
    background: #e5e7eb;
}

.accordion__icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.accordion__content {
    font: 500 18px "Urbanist";
    max-height: 0;
    overflow: hidden;
    background: var(--colorCuartario);
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 15px;
    color: #4b5563;
}

.accordion__content.open {
    padding: 15px;
    max-height: 200px;
}
